:root {
    --clr-bright-orange: hsl(31, 77%, 52%);
    --clr-dark-cyan: hsl(184, 100%, 22%);
    --clr-very-dark-cyan: hsl(179, 100%, 13%);
    --clr-transparent-white: hsla(0, 0%, 100%, 0.75);
    --clr-very-light-gray: hsl(0, 0%, 95%);
    --clr-black: #333;
    --ff-lexend-deca: 'Lexend Deca', sans-serif;
    --ff-big-shoulders: 'Big Shoulders Display', cursive;
    --fw-regular: 400;
    --fw-bold: 700;
}

html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

h1, 
p,
a {
    margin: 0;
}

body {
    font-family: var(--ff-lexend-deca);
    font-weight: var(--fw-regular);
    font-size: 0.905rem;
    line-height: 1.8;
    background-color: var(--clr-very-light-gray);
    color: var(--clr-transparent-white);
    margin: 0;
}

.container {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 0.5rem;
    margin: 5.5rem 1.5rem;
}

.split {
    padding: 3rem 3.0625rem 2.5rem; 
}

.split h1 {
    font-family: var(--ff-big-shoulders);
    font-weight: var(--fw-bold);
    font-size: 2.125rem;
    text-transform: uppercase;
    color: var(--clr-very-light-gray);
    margin-top: 1.7rem;
}

.split p {
    max-width: 96%;
    margin-top: 1rem;
}

.split a {
    text-decoration: none;
}

.sedans {
    background-color: var(--clr-bright-orange);
}

.suvs {
    background-color: var(--clr-dark-cyan);
}

.luxury {
    background-color: var(--clr-very-dark-cyan);
}

.sedans a {
    color: var(--clr-bright-orange);
}

.suvs a {
    color: var(--clr-dark-cyan);
}

.luxury a {
    color: var(--clr-very-dark-cyan);
}

.button {
    display: inline-block;
    border-radius: 2rem;
    background-color: var(--clr-very-light-gray);
    margin-top: 1.5rem;
    padding: 0.65em 1.89em;
    border: 2px solid var(--clr-very-light-gray);
    cursor: pointer;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    color: var(--clr-black);
    line-height: 1.5;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

@media only screen and (min-width: 48em) {    
    .container {
        min-height: 100vh;
    }
    
    .card {
        display: flex;
        flex-direction: row;
        max-width: 57.5rem;
    }

    .split {
        display: flex;
        flex-direction: column;
    }

    .split p {
        flex: 1;
    }